@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Recursive:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-theme-1: #000000;
  --main-theme-2: #ffffff;
  --black-text-1: #1a1a1a;
}
body {
  /* font-family: "Courier Prime", monospace; */
  font-family: "Recursive", sans-serif;
  user-select: none;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-theme-2);
}

h1 {
  color: var(--black-text-1);
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.2;
}
.display-container {
  position: relative;
  border-radius: 1rem;
  background: #e6e6e6;
  box-shadow: 10px 10px 15px #bdbdbd, -10px -10px 15px #ffffff;
}
